{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Actualizar Producto</h5>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %} 
              <div class="mb-3">
                  <label for="id_name" class="form-label">Nombre:</label>
                  {{form.name}}
              </div>
              <div class="mb-3">
                  <label for="id_description" class="form-label">Descripción:</label>
                  {{form.description}}
              </div>
              <div class="mb-3">
                  <label for="id_price" class="form-label">Precio:</label>
                  {{form.price}}
              </div>
              <div class="mb-3">
                  <label for="id_imagen" class="form-label">Imagen:</label>
                  {{form.imagen}}
              </div>
              <!-- {{ form.as_p }} -->
              <div class="flex mt-3">
                  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                  <a  class="btn btn-danger" href="{% url 'products' %}">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}