{% extends 'base.html' %}
{% block content %}
<h1>{{ producto.name }}</h1>
<p>{{ producto.description }}</p>
<p>Precio: ${{ producto.price }}</p>
{% if producto.imagen %}
    <img src="{{ producto.imagen.url }}" alt="{{ producto.name }}" />
{% endif %}
<h2>Agregados</h2>
{% for agregado in agregados %}
<li>
    <h2>{{ agregado.name }}</h2>
    <p>Precio: ${{ agregado.price }}</p>
    <a href="{% url 'aggregate_delete' producto.id agregado.id %}" >Eliminar</a>
</li>
{% endfor %}


<h2>Agregar Nuevo Agregado para {{ producto.name }}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>
<a href="{% url 'products_detail' producto.id %}">Cancelar</a>




<a href="{% url 'products' %}">Volver a la lista de productos</a>
{% endblock %}